/* Globalne ustawienia */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Stylizacja nagłówka */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Stylizacja głównej sekcji */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Sekcja koszyka */
.cart-items {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-items h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-items ul li {
    background-color: hsla(0, 0%, 75%, 0.50);
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-image img {
    max-width: 100px;
    border-radius: 5px;
}

.product-info {
    flex: 1;
    margin-left: 20px;
}

.product-info h3 {
    margin: 0 0 10px;
}

.product-info p {
    margin: 5px 0;
}

input.quantity {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Stylizacja podsumowania koszyka */
.cart-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-summary p {
    font-size: 1.2em;
}

/* Stylizacja stopki */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
