<header th:fragment="header">
  <form action="index.html">
    <div class="logo">
      <img src="/images/logo1.png" height="50px" width="150px" alt="logo">
    </div>
    <input type="text" placeholder="search" name="search-text" class="searchINP"/> 
    <select name="cats">
      <option value="cat1">KATEGORIA1</option>
      <option value="cat2">KATEGORIA2</option>
      <option value="cat3">KATEGORIA3</option>
    </select>
    <input type="submit" value="SEARCH">

    <input type="image" src="/images/people.png" formaction="/user" formmethod="get">
    <input type="image" src="/images/cart1.png" formaction="/cart" formmethod="get">
    <input type="image" src="/images/like1.png" formaction="/like" formmethod="get">
    <input type="image" src="/images/chat3.png" formaction="/chat" formmethod="get">
    <input type="image" src="/images/setting1.png" formaction="/settings" formmethod="get">
  </form>
</header>